body{
    overflow: hidden;
    margin: 0;
}

.login-container{
    width: 100vw;
    height: 100vh;
   background: linear-gradient(#007683,#00C2BC);
   display: flex;
   justify-content: center;
   align-items: center;
}
.uper{
    width: 100%;
    height: 150px;
    background-image: url('https://img.goodfon.com/wallpaper/big/e/73/fon-volny-seryy.jpg');
   
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.lower{
    width: 100%;
    height: 250px;
    background-color:#1D2C4F;
    
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.login-box{
    width: 280px;
    height: auto; 
    position: absolute;
  border: 1px solid gray;
  border-radius: 15px;
 
  
}
.signUp{
    width: 120px;
    height: 42px;
    background-color: #00F5E1;
    border: none;

}
.avatar img {
    width: 70px;
    border-radius: 50%;
   border: 2px solid gray;
   margin-top: 60px;
}
.uper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.lower{
    width: 100%;
    display: flex;
    /* justify-content:; */
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}
.lower input {
    width: 85%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding-left: 4px;
    outline: none;
    background-color: #4D5974;
color: #b3b1b1;
}

.username-div{
    width: 85%;
    background-color: #4D5974;
    border-radius: 6px;
   
}
.username-div:nth-child(1){
    margin-top: 4vh;
}
div a{
    text-decoration: none;
    color: #00F5E1;
    font-size: 10px;
  
   margin-left: 125px;
}
.login-btn{
    width: 85%;
    height: 35px;
    background-color: #00f5e1;
    border: none;
    border-radius: 10px;
    color: gray;
}
.signUp{
    margin-top: -30px;
    color: gray;
}
i{
    color: gray;
    padding: 0px 5px;
}
button{
    cursor: pointer;
}